
<section class="ui segments">
    {{> chart GraphTitle = "Temperature Graph" graph = tempGraph }}
    {{> chart GraphTitle = "Humidity Graph" graph = humGraph}}
    {{> chart GraphTitle = "Pressure Graph" graph = pressGraph}}
    {{> chart GraphTitle = "Soil Moisture Graph" graph = soilGraph}}
</section>