<section>
  <h3 class="ui top attached center aligned header">
    {{GraphTitle}}
  </h3>
  <div class="ui attached segment">
      <iframe width="850" height="260" style="border: 1px solid #cccccc;" src="{{graph}}"></iframe>
  </div>
</section>