

<div class="ui raised four cards">
  {{>card title = "Temperature" valueA = temperature c = " C" valueB = tempF f = " F" icon = "temperature high" colour = "red" }}
  {{>card title = "Humidity" valueA = humidity percentage= " %"   icon = "sun outline icon" colour = "blue" }}
  {{>card title = "Pressure" valueA = pressure hpa = " hPa" icon = "centos" colour = "orange" }}
  {{>card title = "Soil Moisture" valueA = soilMoisture icon = "leaf" colour = "pink"}}
  
</div>