<nav class="ui menu">
  <header class="ui header item"> Plant Watering System <i class="large shower icon"></i></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="video" class="item" href="/video"> Stream </a>
    <a id="about" class="item" href="/about"> About </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
