{{> menu id="video"}}

<section class="ui  segment">
    <h2 class="ui raised center aligned middle aligned segment">Live Stream</h3>
    <div class="ui raised center aligned middle aligned segment">
    <img src= "{{stream}}">
    </div>
</section>